

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
  height:100%;
  font-family: 'Roboto', sans-serif;
  overflow-x:hidden;
}

.jumbotron h1 {
  font-weight: 400;
  font-size: 6.0em;
}

.jumbotron {
  background-color: transparent;
  background-size:cover;
  background-repeat:no-repeat;
}

.fill {
  height:100%;
}

.navbar {
  margin-bottom:0;
  background-color:transparent;
}

/* ==========================================================================
   VIDEO SETTINGS
   ========================================================================== */

video#bgvid {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background: url(../img/redtree.png) no-repeat;
  background-size: cover;
}

div#darkeffect {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -99;
  background-color:black;
  opacity:0.5;
}

body {
  background: -webkit-linear-gradient(white, #99f2ff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, #99f2ff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, #99f2ff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, #99f2ff); /* Standard syntax */
}















